ul {
  list-style-type: none;
  padding: 0;
  max-width: 500px;
}
li {
  font-size: 32px;
  padding: 10px 10px;
  color: #444;
}
li:nth-child(2n) {
  background-color: #999;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  padding: 20px 50px;
  border: 5px solid blueviolet;
  border-radius: 20px;
  display: block;
}

label {
  font-size: 34px;
  font-weight: bold;
  color: tomato;
}
button {
  border: none;
  background-color: tomato;
  padding: 15px 30px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-align: center;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
