@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #333;
}
input,
select {
  width: 50%;
  padding: 10px 20px;
  border: 1px solid rgb(177, 175, 185);
  margin-left: 30px;
  border-radius: 5px;
  font-family: inherit;
}
form {
  padding: 2em;
  background-color: rgb(104, 99, 124);
  border-radius: 5px;
  box-shadow: 0.1px 0.1px 3px #333;
}
input:focus,
select:focus {
  outline-color: blueviolet;
}
label {
  text-transform: capitalize;
  margin-right: 3em;
}
button {
  border: none;
  background-color: tomato;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10px 25px;
  margin: 20px auto 0;
  display: block;
  font-family: inherit;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:active {
  transform: scale(0.9);
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.dropDownElements {
  padding: 20px;
  display: flex;
  background-color: rgb(214, 215, 218);
  margin-top: 20px;
  border-radius: 5px;
}
.results {
  background-color: rgb(240, 240, 240);
  padding: 1em;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0.1px 0.1px 1px #eee;
}

.results a {
  color: rgb(104, 99, 124);
  text-decoration: none;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  padding: 2em;
  background-color: rgb(26, 133, 127);
  box-shadow: 0.1 0.1 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: #fff;
}
.details img {
  width: 300px;
  height: 300px;
}
.details a {
  color: rgb(7, 6, 66);
}

.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  margin-top: 8px;
}

.carousel > img {
  max-width: 45%;
  max-height: 400px;
}

.carousel-smaller {
  width: 50%;
}

.carousel-smaller > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  margin: 15px;
  cursor: pointer;
  border: 2px solid #333;
}

.carousel-smaller > img.active {
  border-color: #ad343e;
  opacity: 0.6;
}
@media (max-width: 700px) {
  .details {
    padding: 1em;
  }
}
